## Importing Dependencies

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("/content/Product Recommendation engine.xlsx")
print(data.head())

   user_Id                email               product  rating
0    15889  cust15889@gmail.com  Medium-term deposits     3.5
1    15890  cust15890@gmail.com            Securities     3.0
2    15891  cust15891@gmail.com          Direct Debit     4.0
3    15892  cust15892@gmail.com       Payroll Account     2.0
4    15893  cust15893@gmail.com              Pensions     1.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2021 entries, 0 to 2020
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_Id  2021 non-null   int64
 1   email    2021 non-null   object
 2   product  2021 non-null   object
 3   rating   2021 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 63.3+ KB

In [4]:
combine_cust_rating = data.dropna(axis = 0, subset = ['email'])
cust_ratingCount = (combine_cust_rating.
     groupby(by = ['email'])['rating'].
     count().
     reset_index().
     rename(columns = {'rating': 'totalRatingCount'})
     [['email', 'totalRatingCount']]
    )
cust_ratingCount.head()

                 email  totalRatingCount
0  cust15889@gmail.com                 2
1  cust15890@gmail.com                 1
2  cust15891@gmail.com                 1
3  cust15892@gmail.com                 2
4  cust15893@gmail.com                 2

In [5]:
cust_ratingCount

                    email  totalRatingCount
0     cust15889@gmail.com                 2
1     cust15890@gmail.com                 1
2     cust15891@gmail.com                 1
3     cust15892@gmail.com                 2
4     cust15893@gmail.com                 2
...                   ...               ...
1987  cust19664@gmail.com                 1
1988  cust19666@gmail.com                 1
1989  cust19668@gmail.com                 1
1990  cust19670@gmail.com                 1
1991  cust19672@gmail.com                 1

[1992 rows x 2 columns]

In [6]:
data["rating"].describe

<bound method NDFrame.describe of 0       3.5
1       3.0
2       4.0
3       2.0
4       1.0
       ...
2016    5.0
2017    3.0
2018    2.0
2019    4.0
2020    4.5
Name: rating, Length: 2021, dtype: float64>

In [7]:
rating_with_totalRatingCount = data.merge(cust_ratingCount, left_on = 'email', right_on = 'email', how = 'left')
print(rating_with_totalRatingCount.head())

   user_Id                email               product  rating  \
0    15889  cust15889@gmail.com  Medium-term deposits     3.5
1    15890  cust15890@gmail.com            Securities     3.0
2    15891  cust15891@gmail.com          Direct Debit     4.0
3    15892  cust15892@gmail.com       Payroll Account     2.0
4    15893  cust15893@gmail.com              Pensions     1.0

   totalRatingCount
0                 2
1                 1
2                 1
3                 2
4                 2

In [8]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(cust_ratingCount['totalRatingCount'].describe())

count   1992.000
mean       1.015
std        0.120
min        1.000
25%        1.000
50%        1.000
75%        1.000
max        2.000
Name: totalRatingCount, dtype: float64

In [9]:
print(cust_ratingCount['totalRatingCount'].describe())

count   1992.000
mean       1.015
std        0.120
min        1.000
25%        1.000
50%        1.000
75%        1.000
max        2.000
Name: totalRatingCount, dtype: float64

In [10]:
popularity_threshold = 2.0
rating_popular_product= rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_product.head()

,user_Id,email,product,rating,totalRatingCount
0,15889,cust15889@gmail.com,Medium-term deposits,3.500,2
3,15892,cust15892@gmail.com,Payroll Account,2.000,2
4,15893,cust15893@gmail.com,Pensions,1.000,2
7,15889,cust15889@gmail.com,Current Accounts,4.500,2
10,15893,cust15893@gmail.com,Credit Card,2.000,2

In [11]:
# First lets create a Pivot matrix

product_features_df = rating_with_totalRatingCount.pivot_table(index='product',columns='email',values='rating').fillna(0)
product_features_df.head()

email,cust15889@gmail.com,cust15890@gmail.com,cust15891@gmail.com,cust15892@gmail.com,cust15893@gmail.com,cust15894@gmail.com,cust15895@gmail.com,cust15897@gmail.com,cust15898@gmail.com,cust15901@gmail.com,...,cust19653@gmail.com,cust19656@gmail.com,cust19658@gmail.com,cust19661@gmail.com,cust19663@gmail.com,cust19664@gmail.com,cust19666@gmail.com,cust19668@gmail.com,cust19670@gmail.com,cust19672@gmail.com
product,,,,,,,,,,,,,,,,,,,,,
Credit Card,0.000,0.000,0.000,0.000,2.000,1.500,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.500
Current Accounts,4.500,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,2.000,0.000,0.000,0.000,0.000,0.000,0.000,2.000,0.000,0.000
Derivada Account,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
Direct Debit,0.000,0.000,4.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
Funds,0.000,0.000,0.000,4.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [12]:
from scipy.sparse import csr_matrix

product_features_df_matrix = csr_matrix(product_features_df.values)

from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(product_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [13]:
product_features_df.shape

(23, 1992)

In [14]:
query_index = np.random.choice(product_features_df.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(product_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

5

In [15]:
product_features_df.head()

email,cust15889@gmail.com,cust15890@gmail.com,cust15891@gmail.com,cust15892@gmail.com,cust15893@gmail.com,cust15894@gmail.com,cust15895@gmail.com,cust15897@gmail.com,cust15898@gmail.com,cust15901@gmail.com,...,cust19653@gmail.com,cust19656@gmail.com,cust19658@gmail.com,cust19661@gmail.com,cust19663@gmail.com,cust19664@gmail.com,cust19666@gmail.com,cust19668@gmail.com,cust19670@gmail.com,cust19672@gmail.com
product,,,,,,,,,,,,,,,,,,,,,
Credit Card,0.000,0.000,0.000,0.000,2.000,1.500,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.500
Current Accounts,4.500,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,2.000,0.000,0.000,0.000,0.000,0.000,0.000,2.000,0.000,0.000
Derivada Account,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
Direct Debit,0.000,0.000,4.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
Funds,0.000,0.000,0.000,4.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [16]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(product_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, product_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Guarantees:

1: Payroll, with distance of 0.9845120124517621:
2: Current Accounts, with distance of 0.9916611094611473:
3: Saving Account, with distance of 1.0:
4: Payroll Account, with distance of 1.0:
5: Pensions, with distance of 1.0:

# Pickle

In [17]:
import pickle

model = pickle.dump(product_features_df, open("Model_bank.pkl", "wb"))